* {
    box-sizing: border-box;
    /*text-decoration: none;
	color: white;*/
}

a{
	text-decoration: none;
	color: #8000ff;
}

body{
	font-family: 'Bahiana', cursive;
	text-align: center;
	color: white;
	margin: 0 0;
}

form h1{
	margin-top: 2%;
	margin-bottom: 2%;
}

h1{
	font-size: 8rem;
}

/*h2{
	font-family:  'Bahiana', cursive;
	font-size: 100px;
	text-shadow: 2px 2px #d6d8db;
}*/

li{
	font-size: 7rem;
	font-family: 'Bahiana', cursive;
	margin-left: 1rem;
	margin-right: 1rem;
}

span{

color: #8000ff;

}

ul{
/*	built-in css of ul
*/	-webkit-padding-start: 0px;
}

.artistsblock-10{
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 4.8rem;
    line-height: 5.2rem;
    margin-top: 0rem;
    font-style: bold;
    font-family: 'Anton', sans-serif;
}


.artists{

}

.backgroundartists{
	background: url(images/ezgif.com-gif-maker2.gif) no-repeat top center fixed;
	background-size: 100% 45rem;
}

.backgroundhome {
	background: url(images/ezgif.com-gif-maker.gif) no-repeat top center fixed;
	background-size: 100% 45rem;
}

.backgroundinfo{

   background: url(images/ezgif.com-gif-maker2.gif) no-repeat top center fixed;
   background-size: 100% 45rem;
   height: 1000px;
}

.backgroundstages {
	background: url(images/ezgif.com-gif-maker.gif) no-repeat top center fixed;
	background-size: 100% 45rem;
}

.backgroundother{
background: url("images/invert.png");
}

.backgroundone{
background: url("images/noninvert.png");
}

.buytickets{
	font-size: 2em;
	font-family: 'Bahiana', cursive;
	margin: 0 auto;
	background-color: white;
}

.columnone{
	height: 500px;
	width: 40%;
	/*border: solid 5px;*/
	display: inline;
	float: left;
}

.columntwo{
	height: 500px;
	width: 40%;
/*	border: solid 5px;
*/	display: inline;
	float: left;
}

.containerartists{
	padding-top: 5%;
	margin-left: 12%;
	margin-right: 12%;
}

.containerinfo{
	padding-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	padding-bottom: 5%;
}

.containerstages{
    margin-left: 5%;
	margin-right: 5%;
	padding-top: 3%;
	margin-left: 3%;
	margin-right: 3%;
}

.dateloc p{
	font-family:  'Bahiana', cursive;
	font-size: 30px;
}

.highheight{
	height: 2000px;
}

.nav a{
	color: white;
}

.nav li{
	display: inline;
	color: white;
}

/*.nav li{
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
}*/

.stages {
	display:block;	
}

#stageimg1{
	background-image: url("images/rainbow_startup.jpg");
	background-size: 100% 100%;
	height:437.5px;
	width: 937.5px;
	position: relative;
	margin: 0 auto;
}

#stageimg2{
	background-image: url("images/ozorastage.jpg");
	background-size: 100% 100%;
	height:437.5px;
	width: 937.5px;
	position: relative;
	margin: 0 auto;
}

#stageimg3{
	background-image: url("images/boomstage.jpg");
	background-size: 100% 100%;
	height:437.5px;
	width: 937.5px;
	position: relative;
	margin: 0 auto;
}

#stageP1{
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 25px;
	top: 340px;*/
	vertical-align: bottom;
	width:100%;
	text-align: center;
}

#stageP2{
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 25px;
	top: 340px;*/
	vertical-align: bottom;
	width:100%;
	text-align: center;
}

#stageP3{
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 25px;
	top: 340px;*/
	vertical-align: bottom;
	width:100%;
	text-align: center;
}


#stagetext1 {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 100px;
	left:300px;
	top: 175px;
}

#stagetext2 {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 100px;
	left:200px;
	top: 175px;
}

#stagetext3 {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 100px;
	left:250px;
	top: 175px;
}

.twocolumns{
	position: relative;
	margin: 0 auto;
	margin-left: 15%;
	margin-top: 10%;
    width: 87%;
    clear: both;
}

/*// form */

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}

form {
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: black;
  height: 500px;
}

form div + div {
  margin-top: 2em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
  font-size: 10em;
}

input, textarea {
  font: 1em sans-serif;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #999;
   background: transparent;
   border: none;
   color: white;
   font-family: 'Bahiana', cursive;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 8em;
}

.button {
  padding-left: 90px; 
}

#mail{
	font-size: 10em;
	height: 1em;
}

#map {
        height: 400px;
        width: 100%;
       }

/*undefined class
*/
.img-container{

}