
body{
	background-image: url("https://img0.etsystatic.com/137/1/8946997/il_340x270.1005409272_em8v.jpg");
	background-size: 100% 38rem;
	/*Once we want text to not align centered we need to edit the text-align property of body*/
	text-align: center;
}

li{
	font-size: 70px;
	font-family: 'Bahiana', cursive;
	
}

.container{
	margin-left: 5%;
	margin-right: 5%;
}

.nav li{
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
}

.dateloc p{
	font-family:  'Bahiana', cursive;
	font-size: 30px;
}

h1{
	font-family:  'Bahiana', cursive;
	font-size: 100px
}
/*
#0F3E48
#215E5F
#417f75
#C5DB55
#D8456A


*/